

body {
  font-family: 'Rubik', sans-serif;
  background-image: url('../src/assets/img/bg4.jpg');
  background-position: center;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

h2 {
  color:violet; 
}

.btn-submit {
  background-color: violet;
}